.flex-container1 {
    display: flex;
    background-color: white;
    flex-direction: row;
    border: right;
    border-color:black
    
}
.flex-container2 {
    display: flex;
    background-color: white;
    flex-direction: row

}
#main-section{
    position: right;
    padding: 3ch
}
.nav-link{
    display: flex;
    flex-direction: column;
    width: 6cm;
    height: 2cm
}

